<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>
 
<p>
  <strong>role:</strong>
  <%= @user.role %>
</p>




<%= link_to "New Athlete" %></br>
<%= link_to "New Training" %></br>

<%= link_to "View Athletes" %></br>
<%= link_to "View Trainings" %></br>